$c-bg:#0370ba;
$c-icon: #01a3e6;
$c-title:#666;
$c-bg-hover: #0364a5;
$c-warn:#e2a502;
$c-success:#67c23a;
$c-primary:#409eff;
$c-error:#f56c6c;
$c-normal:#909399;
$c-slide:#efefef;
$c-slide-title:rgb(221, 220, 220);
$c-f: #fff;
$fs-small-s:10px;
$fs-small:12px;
$fs-medium:14px;
$fs-medium-x:16px;
$fs-large:18px;
$fs-large-x:22px;
$c-title: #358de6;
$c-ora: #e2922f;
$c-ora-d:#f56a4d;
$c-green:#c0d50c;
$c-blue: #4fc9cc;
$c-blue-l:#00bff4;
$c-pink: #fa74a9;
$c-pink-d:#c61c55;
$c-purple:#4e42a9;
$c-green-d:#008c17;
$c-primary:#409eff;
$c-success: #67c23a;
$c-info:#909399;
$c-warn:#e6a23c;
$c-danger:#f56c6c;
